.download {
    max-width: 860px;
    background: white;
    display: flex;
    min-height: 141px;
    box-shadow: -1px 0px 24px 10px rgba(0,0,0,0.84);
    -webkit-box-shadow: -1px 0px 24px 10px rgba(0,0,0,0.84);
    -moz-box-shadow: -1px 0px 24px 10px rgba(0,0,0,0.84);
}
.img {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 18px;
}
img {
    width: 230px;
    height: 105px
}
.progres {
    margin: 18px 18px 18px 0;
    max-width: 400px;
    background-color: rgb(148, 148, 197);
    border: 1px solid rgb(92, 92, 228);
    height: 25px;
    display: flex;
    align-items: center;
}
button {
    align-self: flex-start;
    height: 25px;
    background-color: blue;
    color: white;
    width: 160px;
}
.button-container {
    margin: 18px 18px 18px 0;
}
main {
    width: 100vw;
    height: 100vh;
}
.text {
    font-size: 13px;
}
@media (max-width: 860px)  {
    .download {
        flex-direction: column;
    }
    img {
        width: 100%;
        height: auto;
    }
    .m-18 {
        margin: 18px;
    }
    button {
        width: 100%;
    }
    .button-container {
        margin-top: 0;
    }
    .progres {
        max-width: 406.77px;
    }
}