table {
    border-collapse: collapse;
    font-family: 'Noto Sans', sans-serif;
}
thead th:nth-child(-n + 5) {
    background-color:  rgb(35, 35, 53);
    color: white;
}
thead th:nth-child(-n + 4) {
    background-color:  rgb(62, 62, 99);
    color: white;
}
thead th:nth-child(-n + 3) {
    background-color:  rgb(105, 105, 167);
    color: white;
}
thead th:nth-child(-n + 2) {
    background-color:  rgb(128, 128, 202);
    color: white;
}
thead th:first-child {
    background-color: rgb(161, 161, 255);
    font-size: 20px;
    color: white;
    width: 300px;
    height: 150px;
}
thead th{
    width: 150px;
}
thead th div {
    font-size: 30px;
}
thead th div div {
    font-size: 15px;
}
tbody {
   text-align: center;
}
tbody th:first-child {
    width: 300px;
    height: 35px;
}
tbody tr:nth-child(2n) {
    background-color: rgb(209, 209, 209);
}