<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <canvas class="orb-canvas"></canvas>
        <div class="overlay">
        <div class="overlay__inner">
            <h1 class="overlay__title">
            Привіт, в тебе вже є
            <span class="text-gradient">кімната?</span>
            </h1>
            <div class="buttons">
                <a href="player.html"><button name="button-join">Приєднатися до кімнати</button></a>
            </div>
        </div>
    </div>
    </main>
    <script type="module" src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>