<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кімната</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <canvas class="orb-canvas"></canvas>
    <div class="overlay">
        <div class="overlay__inner">
            <div class="video_container">
                <video id="syncVideo" controls>
                    <source src="https://dl.dropboxusercontent.com/scl/fi/c4lylu97ya2771kca3ydk/video.mp4?rlkey=7oiq8opx795bo2irljm9nhd7m&dl=0" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <form id="nicknameForm" onsubmit="setNickname(event)">
            <div class="nickname">
                <label for="nickname">Введите ваш ник:</label>
                <input id="nickname" required>
                <button type="submit">Установить</button>
            </div>
        </form>
        <form id="chatForm" onsubmit="sendMessage(event)" style="display: none;">
            <div id="chat">
                <ul id="messages"></ul>
                <input id="message_input" autocomplete="off">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.1/socket.io.js"></script>
    <script>
        var socket = io.connect(window.location.origin, { transports: ['websocket'] });

        var video = document.getElementById('syncVideo');
        var messages = document.getElementById('messages');
        var lastTime = 0;

        video.addEventListener('play', function() {
            socket.emit('video_event', { 'type': 'play', 'time': video.currentTime });
        });

        video.addEventListener('pause', function() {
            socket.emit('video_event', { 'type': 'pause', 'time': video.currentTime });
        });

        video.addEventListener('seeked', function() {
            if (Math.abs(video.currentTime - lastTime) > 0.5) {
                socket.emit('video_event', { 'type': 'seek', 'time': video.currentTime });
                lastTime = video.currentTime;
            }
        });

        socket.on('current_time', function() {
            socket.emit('video_event', { 'type': 'sync', 'time': video.currentTime });
        });

        socket.on('video_event', function(data) {
            if (data.type === 'sync') {
                video.currentTime = data.time;
            } else if (data.type === 'play') {
                video.currentTime = data.time;
                video.play();
            } else if (data.type === 'pause') {
                video.currentTime = data.time;
                video.pause();
            } else if (data.type === 'seek') {
                video.currentTime = data.time;
            }
        });

        socket.on('message', function(msg) {
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            messages.appendChild(li);
        });

        function setNickname(event) {
            event.preventDefault();
            var nicknameInput = document.getElementById('nickname');
            nickname = nicknameInput.value;
            document.getElementById('nicknameForm').style.display = 'none';
            document.getElementById('chatForm').style.display = 'block';
            document.getElementById('nickname').disabled = true;
        }

        function sendMessage(event) {
            event.preventDefault();
            var messageInput = document.getElementById('message_input');
            var message = nickname + ': ' + messageInput.value;
            socket.emit('message', message);
            messageInput.value = '';
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>