<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кімната</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <canvas class="orb-canvas"></canvas>
    <div class="overlay">
        <div class="overlay__inner">
            <div id="pauseOverlay">Відео на паузі</div>
            <div class="video_container">
                <video id="syncVideo" controls>
                    <source src="https://dl.dropboxusercontent.com/scl/fi/c4lylu97ya2771kca3ydk/video.mp4?rlkey=7oiq8opx795bo2irljm9nhd7m&dl=0" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <form id="nicknameForm" onsubmit="setNickname(event)">
            <div class="nickname">
                <label for="nickname">Введіть ваш нік:</label>
                <input id="nickname" required>
                <button type="submit">Встановити</button>
            </div>
        </form>
        <form id="chatForm" onsubmit="sendMessage(event)" style="display: none;"> 
            <div id="chat">
                <div id="newMessageNotification" class="hidden">Нове повідомлення!</div>
                <ul id="messages"></ul>
                <input id="message_input" autocomplete="off">
                <button type="submit" onclick="sendMessage()">Відправити</button>
            </div>
        </form>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.1/socket.io.js"></script>
    <script>
        var socket = io.connect(window.location.origin, { transports: ['websocket'] });

        var video = document.getElementById('syncVideo');
        var messages = document.getElementById('messages');
        var lastTime = 0;
        var isSeeking = false;
        var isPauseOverlayVisible = false;

        video.addEventListener('play', function() {
            if (!video.paused) {
                socket.emit('video_event', { 'type': 'play' });
            }
        });

        video.addEventListener('pause', function() {
            if (video.paused) {
                socket.emit('video_event', { 'type': 'pause' });
                isPauseOverlayVisible = true;
                showPauseOverlay();
            }
        });

        video.addEventListener('seeked', function() {
            if (Math.abs(video.currentTime - lastTime) > 0.5) {
                socket.emit('video_event', { 'type': 'seek', 'time': video.currentTime });
                lastTime = video.currentTime;
            }
        });

        socket.on('current_time', function(data) {
            if (!video.paused && !isSeeking) {
                video.currentTime = data.time;
            }
        });

        socket.on('video_event', function(data) {
            if (data.type === 'play') {
                if (video.paused) {
                    video.play().catch(function() {});
                }
                if (isPauseOverlayVisible) {
                    hidePauseOverlay();
                    isPauseOverlayVisible = false;
                }
            } else if (data.type === 'pause') {
                if (!video.paused) {
                    video.pause();
                    isPauseOverlayVisible = true;
                    showPauseOverlay();
                }
            } else if (data.type === 'seek') {
                isSeeking = true;
                video.currentTime = data.time;
            }
        });

        video.addEventListener('playing', function() {
            if (isSeeking) {
                video.play().catch(function() {});
                isSeeking = false;
            }
        });


        socket.on('message', function(data) {
            var li = document.createElement('li');
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            var timeString = hours + ':' + minutes + ':' + seconds;

            li.appendChild(document.createTextNode('[' + timeString + '] ' + data));

            messages.appendChild(li);
            messages.classList.add('flash');

            setTimeout(function() {
                messages.classList.remove('flash');
            }, 2000);
            showNewMessageNotification();
        });

        function showNewMessageNotification() {
            var notification = document.getElementById('newMessageNotification');
            notification.style.display = 'block';

            notification.style.animation = 'slideIn 0.5s ease, slideOut 0.5s ease 2.5s forwards';

            setTimeout(function() {
                notification.style.animation = '';
                notification.style.display = 'none';
            }, 3000);
        }


        function setNickname(event) {
            event.preventDefault();
            var nicknameInput = document.getElementById('nickname');
            nickname = nicknameInput.value;
            document.getElementById('nicknameForm').style.display = 'none';
            document.getElementById('chatForm').style.display = 'block';
            document.getElementById('nickname').disabled = true;
        }

        function sendMessage(event) {
            event.preventDefault();
            var messageInput = document.getElementById('message_input');
            var message = nickname + ': ' + messageInput.value;
            socket.emit('message', message);
            messageInput.value = '';
        }
        function showPauseOverlay() {
            var overlay = document.getElementById('pauseOverlay');
            overlay.style.display = 'block';
        }
        function hidePauseOverlay() {
            var overlay = document.getElementById('pauseOverlay');
            overlay.style.display = 'none';
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>