.border {
    border-radius: 50%;
    border: solid blue 3px;
    width: 250px;
    height: 250px;
    position: relative;
}
.line-h {
    height: 85px;
    width: 5px;
    background-color: blue;
    position: absolute;
    left: 120px;
    top: 115px;
    transform-origin: 50% 5px;
    animation: animHours 12s linear infinite;
}
.line-min {
    height: 105px;
    width: 5px;
    background-color: blue;
    position: absolute;
    left: 120px;
    top: 115px;
    transform-origin: 50% 5px;
    animation: animHours 6s linear infinite;
}
.circle {
    border-radius: 50%;
    background-color: rgb(3, 3, 122);
    height: 12px;
    width: 12px;
    position: absolute;
    left: 117px;
    top: 114px;
}
@keyframes animHours {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: inline-flex;
    position: relative;
}
.box-left {
    width: 350px;
    height: 200px;
    border: solid purple;
    background-color: rgb(202, 2, 202);
    transform-origin: left center;
    transition: transform 0.5s linear;
}
.box-right {
    width: 350px;
    height: 200px;
    border: solid purple;
    background-color: rgb(202, 2, 202);
    transform-origin: right center;
    transition: transform 0.5s linear;
}
.container:hover .box-left {
    transform: perspective(1000px) rotateY(60deg);
}
.container:hover .box-right {
    transform: perspective(1000px) rotateY(-60deg);
}
.text {
    position: absolute;
    left: 280px;
    top: 460px;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
}

.block {
    display: inline-flex;
    height: 183px;
    transition: filter;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.text-background {
    height: 183px;
    width: 276px;
    background-color: antiquewhite;
}
.text-money {
    margin-top: 75px;
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}
.img-money {
    scale: 1;
    transition: scale;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.img-3 {
    overflow: hidden;
}
a {
    display: inline-flex;
}
.block:hover {
    filter: brightness(40%)
}
.block:hover .img-money {
    scale: 1.2
}